@layout("layout")
@section("style-section")
{{ style("css/news")}}
@endsection
@section("content")
    <div class="news-container">
        <div class="news-header">
            <h1>
                <p>หนุ่มฟลอริดา ซื้อรถ Porsche มูลค่ากว่า 4.3 ล้านบาท ด้วย “เช็คปลอม” ที่ปรินท์มาจากบ้าน</p>
            </h1>
            <div class="news-header-underline"></div>
        </div>
    </div>
@endsection
