.image-label {

    background-image: url("https://c0.wallpaperflare.com/preview/347/508/926/analysis-analytics-analyzing-business.jpg");
    background-position-y: center;
    background-size: cover;

}