:root {
    --font: #333;
  }

a {
  text-decoration: none;
  color: unset;
}

.nav-box {
    width: 100%;
    height: 60px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 8000;
    background-color: #fff;
    box-shadow: 0 -10px 15px #000000;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-left-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 90px;
    height: 35px;
    width: 35px;
    border: 2px solid var(--font);
    border-radius: 50%;
}

.nav-right-component {

    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #636363;
}

.nav-right-component-tag {
    margin-right: 30px;
    transition: 0.25s;
}

.nav-right-component-tag:hover {
    color: #2997db;
    outline: none;
    cursor: pointer;
}

.nav-icon {
  margin: 0 7px;
  height: auto;
}

.nav-icon:hover {
  color: #2997db;
  outline: none;
  cursor: pointer;
}

.nav-login-block {
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-login-component {
    font-size: 1.10rem;
    margin: 0;
    color: #fff;
    background-color:#2997db;
    border: 1px solid #2997db;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

.nav-login-component:hover {
    font-size: 1.10rem;
    background-color: #fff;
    border: 1px solid #2997db;
    color: #2997db;
    outline: none;
    cursor: pointer;
}

.bottom-navbar {
    /* background-color: #434343; */
    width: inherit;
    height: 0px;
    display: flex;
    justify-content: center;
}

.nav-type {
    display: flex;
}

.box {
    height: 1000px;
    width: 100%;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #2997db
}

.dropdown:hover .dropdown-content {
  display: block;
}

  .logout-block {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .username-block {
    width: 95%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #000000
  }

  .username {
    font-size: 1.1rem;
    color: #0074bd;
    font-weight: bold;
    padding: 0 7.5px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .nav-logout-component {
    width: fit-content;
    display: flex;
    margin-right: 20px;
    font-size: 0.6rem;
    width: fit-content;
    border-bottom: 1px solid #fff0;
    background-color:#ffffff00;
    border:none;
    outline: none;
    text-decoration: none;
  }

  .nav-logout-component:hover {
    width: fit-content;
    color: #b60c0c;
    /* border-bottom: 1px solid #b60c0c; */
    outline: none;
    cursor: pointer;
}