:root {
    --font: #333;
  }

a {
  text-decoration: none;
  color: unset;
}

.nav-box {
    width: 100%;
    height: 60px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 8000;
    background-color: #fff;
    box-shadow: 0 -10px 15px #000000;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-left-component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 90px;
    height: 35px;
    width: 35px;
    border: 2px solid var(--font);
    border-radius: 50%;
}

.nav-right-component {

    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #636363;
}

.nav-right-component-tag {
    margin-right: 30px;
    transition: 0.25s;
}

.nav-right-component-tag:hover {
    color: #2997db;
    outline: none;
    cursor: pointer;
}

.nav-icon {
  margin: 0 7px;
  height: auto;
}

.nav-icon:hover {
  color: #2997db;
  outline: none;
  cursor: pointer;
}

.nav-login-block {
  width: 200px;
  display: flex;
  justify-content: center;
}

.nav-login-component {
    font-size: 1.10rem;
    margin: 0;
    color: #fff;
    background-color:#2997db;
    border: 1px solid #2997db;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

.nav-login-component:hover {
    font-size: 1.10rem;
    background-color: #fff;
    border: 1px solid #2997db;
    color: #2997db;
    outline: none;
    cursor: pointer;
}

.bottom-navbar {
    /* background-color: #434343; */
    width: inherit;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-type {
    display: flex;
}

.box {
    height: 1000px;
    width: 100%;
}

.dropbtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 1.0rem;
    margin-right: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: #2997db;
    outline: none;
    
  }
  .dropbtn:focus {
    outline: none;
  }