.news-container {
    margin-top: 5%;
    margin-left: 15%;
    width: 55%;
    height: 100%;
}
.news-header h1{
    font-size: 3rem;
    color: #2a81b8;
}
.news-header-underline {
    margin-top: 2%;
    border-bottom: 5px solid #2a81b8;
    margin-bottom: 2%;
}
.news-body {
    margin-left: 10%;
    width: 90%;
}
.news-body h1{
    font-size: 2.5rem;
    color: #2a81b8;
}
.news-body h2{
    font-size: 1.5rem;
}
.news-body p{
    margin-top: 5%;
    margin-bottom: 5%;
}